<div class="container mt-5 mb-5 d-flex justify-content-center">
  <div class="card p-5">
    <div>
      <h4 class="heading">Upgrade your plan</h4>
      <p class="text">
        Please make the payment to start enjoying all the features of our
        premium plan as soon as possible
      </p>
    </div>
    <div class="pricing p-3 rounded mt-4 d-flex justify-content-between">
      <div class="images d-flex flex-row align-items-center">
        <img src="https://i.imgur.com/S17BrTx.png" class="rounded" width="60" />
        <div class="d-flex flex-column ml-4">
          <span class="business">Total Amount</span>

        </div>
      </div>
      <!--pricing table-->
      <div class="d-flex flex-row align-items-center">

        <span class="amount ml-1 mr-1">{{totalPrice|currency:'INR'}}</span>

      </div>
      <!-- /pricing table-->
    </div>
    <span class="detail mt-5">Payment details</span>

    <div
      class="credit rounded mt-2 d-flex justify-content-between align-items-center"
    >
      <div class="d-flex flex-row align-items-center">
        <img src="https://i.imgur.com/qHX7vY1.png" class="rounded" width="70" />
        <div class="d-flex flex-column ml-3">
          <span class="business">Credit Card</span>
          <input type="text" mask="0000 0000 0000 0000" [(ngModel)]="accountNumber" placeholder="Credit Card Number">
        </div>
      </div>
      <div>
        <input type="text" class="form-control cvv"  [(ngModel)]="cvv" placeholder="CVC" />
      </div>
    </div>
    <h6 class="mt-4 text-primary">ADD PAYMENT METHOD</h6>
    <div class="email mt-2">
      <input
        type="text"
        class="form-control email-text"
        placeholder="Email Address"
      />
    </div>
    <div class="mt-3">
      <button class="btn btn-primary btn-block payment-button"  (click)="pay()">
        Proceed to payment <i class="fa fa-long-arrow-right"></i>

      </button>
    </div>
  </div>
</div>
