    <!-- Example of a Spring XML configuration file (beans.xml) -->
    <beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.springframework.org/schema/beans
                               http://www.springframework.org/schema/beans/spring-beans.xsd">

       

        <bean id="hello" class="com.wipro.springxmldeo.HelloBean" scope="prototype"/>

    </beans>