.pad{

/* padding-left: 90px;
padding-right: 20px;
padding-top: 5px ;
padding-bottom: 5px; */
padding: 10px 20px 5px 90px; /* top right bottom left */
}



.brdr{

    border: 5px solid blue;

}   

.mrgn{

    margin: 100px 20px 30px 40px; /* top right bottom left */
}